@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="~/favicon.ico" sizes="32x32">
    <link rel="stylesheet" href="~/css/home.css">
    <link rel="stylesheet" href="~/css/common.css">
</header>
<body>
    <div class="container">
         <nav>
            <span class="nav-list">
                <span class="application-title">CineEase</span>
                <span>
                    <span>
                        <span>Explore</span>
                        <span>Movies</span>
                        <span>Cinemas</span>
                        <span>Shop</span>
                    </span>
                </span>
             </span>
             <span>
       
             </span>
         </nav>
         <img class="picture" src="~/images/background-pic3.png" alt="pic"/>
         <div class="content">
            <div class="tagline-cont">
                <span class="tagline">Your Ticket to Cinematic Bliss: Book Your Seat, Reserve Your Experience.</span>
                <span class="find-cont"><input type="text" placeholder="Find your area"/><button>Find</button></span>
            </div>
            <div>
                <img class="home-img" src="~/images/image-not-available.png"/> 
            </div>
         </div>
         
    </div>
    <div>
        <span>Now showing</span>
        
    </div>
</body>